body{
  background: #f0f0f0;
}
#page{
  margin-top: 50px;
}
#main-content{
  //margin-bottom: 260px;
}
footer.page-footer{
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //width: 100%;
  .right_part{
    text-align: right;
  }
  .copyright,.credits {
    color: #444;
    text-align: center;
  }
}
nav {
  .nav-wrapper  {
    ul li a img {
      max-height: 64px;
    }
  }
}

.logo {
  margin-top: 17px;
  margin-left: 15px;
  width: 182px;
  height: 27px;
  display: block;
  background: image-url("logo.png") no-repeat;
  text-rendering: optimizeLegibility;
  font-smoothing: subpixel-antialiased;
  transition: all 0.2s ease-out;
  span {
    display: none;
  }
  &:hover {
    opacity: 0.8;
  }
}
.text-grey2{
  color: #636363 !important;
}
.github-color{
  color: #000000;
}
.twitter-color{
  color: #03C1E6;
}
.linkedin-color{
  color: #1278AB;
}
.bg-primary {
  background-color: #d95626;
  color: #fff;
  .container {
    .row {
      margin-bottom: 0;
      .text-center {
        margin: 0;
        text-align: center;
        padding: 5px;
        a{
          color: #fff;
          &:hover{
            text-decoration: underline !important;
          }
          &.close{
            padding: 0px 10px;
            background-color: #AD2E00;
            float: right;
            &:hover{
              background-color: #AD0202 !important;
            }
          }
        }
      }
    }
  }
}



.info-post{
  color: #fff !important;
  background-color: #26a69a;
  padding: 10px;
  a{
    color: #E0FF07;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}
.img_in_shadow{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.full_width{
  width: 100%;
}
.padding_5{
  padding: 5px;
}
.padding_10{
  padding: 10px;
}
.no_margin{
  margin: 0;
}

.margin_bottom_10{
  margin:10px;
}

.no_shadow{
  box-shadow: none !important;
}
.bg_transparent{
  background-image: image-url("pattern.png") ;
}
.background_dark{
  background-color: #9e9e9e;
}
.clearboth {
  clear: both;
}
.notification-bar-inside {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  &.notice{
    background-color: #26A69A;
  }
  &.error{
    background-color: #E66167;
  }
  a{
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }


}

dl.faq {
  counter-reset: my-badass-counter;
}
dl.faq dt {
  position: relative;
  font: bold 20px Georgia;
  padding: 4px 0 10px 0;
}
dl.faq dt:before {
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
  position: absolute;
  left: 0;
  top: 0;
  font: bold 50px/1 Sans-Serif;
}
dl.faq dd {
  margin: 0 0 50px 0;
}
dl.faq dt, dl.faq dd {
  padding-left: 50px;
}

.commentArea {
  font: 14px Arial;
  padding: 0 10px;
  margin-top: 20px;

  .bubbledLeft,.bubbledRight {
    margin-top: 20px;
    padding: 5px 9px;
    max-width: 50%;
    clear: both;
    position: relative;
  }

  .bubbledLeft{
    float: left;
    margin-right: auto;
    border-radius: 8px 8px 8px 0px;
    background-color: #07D;
    color: #ffffff;

    &:before {
      border-bottom: 10px solid #07D;
      border-left: 9px solid rgba(0, 0, 0, 0);
      position: absolute;
      bottom: 0;
      left: -8px;
      content: "";
    }
  }

  .bubbledRight{
    float: right;
    margin-left: auto;
    text-align: right;
    border-radius: 8px 8px 0px 8px;
    background-color: #65B045;
    color: white;
    &:before {
      border-bottom: 9px solid #65B045;
      border-right: 9px solid rgba(0, 0, 0, 0);
      position: absolute;
      bottom: 0;
      right: -8px;
      content: "";
    }
  }
}
