#page{

  #api{
    .questions{
      ul.question-list{
        li{
          a{
            width: 100%;
            margin-bottom: 2px;
            text-transform: none;
            height: auto;
            line-height: normal;
            padding: 5px;
          }
        }
      }
    }
    .answers{
      .gist{
        width: 100ch;
      }
    }
  }

  #faq{
    .questions{
      background: image_url('side-shadow.png') repeat-y left;
      ul.question-list{
        li{
          margin-bottom: 15px;
          background: image_url('gold-star.png') no-repeat left top;
          padding-left: 25px;
        }
      }
    }
    .answers{
      h6{
        margin: 30px 0 10px;
      }
    }
  }

  #privacy_policy{
    .section{
      max-height: 500px;
      overflow-y: scroll;
    }
  }
  #tos{
    .section{
      max-height: 500px;
      overflow-y: scroll;
      ol{
        padding: 0;
        li {
          list-style: none;
          background: image_url('gold-star.png') no-repeat left top;
          padding-left: 25px;
          margin-bottom: 15px;
        }
      }
    }
  }
}