#signin{

  .signin-panel{

    .signin-btn{
      border: none;
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 5px;
      text-transform: none;
      line-height: normal;
      margin-bottom: 10px;
      height: 125px;
      width: 100%;
      font-weight: bold;
      i{
        display: block;
        font-size: 5em;
        margin-top: 5px;
      }
      &.link_github{
        color: #000000;
      }
      &.link_twitter{
        color: #03C1E6;
      }
      &.link_linkedin{
        color: #1278AB;
      }
    }
  }
}