#signin{

  .signin-panel{

    .signin-btn{
      display: inline-block;
      height: 125px;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: none;
      border-radius: 2px;
      vertical-align: middle;
      text-align: center;
      text-transform: none;
      line-height: normal;
      i{
        display: block;
        margin-top: 5px;
        font-size: 5em;
      }
    }
  }
}